@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes text-pulse{
    0%{
        opacity: 0.25
    }
    50%{
        opacity: 1
    }
    100%{
        opacity: 0.25
    }
}
@keyframes fade-out{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes pop{
    0%{
        transform: scale(0);
    }

    75%{
        transform: scale(1.25);
    }

    100%{
        transform: scale(1);
    }
}

@keyframes slide-in-left{
    0%{
        transform: translateX(-100vw);
    }

    100%{
        transform: translateX(0vw);
    }
}

@keyframes slide-in-right{
    0%{
        transform: translateX(100vw);
    }

    100%{
        transform: translateX(0vw);
    }
}

body{
    margin: 0;
    background-color: #232323;
    overflow-x: hidden;
}

nav{
    width: 100vw;
    padding: 1% 1% 0 0;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(2000px);
    -webkit-backdrop-filter: blur(2000px);
    z-index: 1;
}

h1, h2, h3{
    color: white;
    font-family: "Lucida Console", Monaco, monospace;
    letter-spacing: 2.2px;
}

h1{

    font-size: 5vmin;
    margin-left: 3%;
}

h2{
    font-size: 4vmin;
    text-align: center;
    padding: 2% 10%;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
}

main{
    margin-top: 25vmin;
}

.navbar-button{
    width: 15%;
    padding: 0.75%;
    font-size: 2vmin;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    color: white;
    text-align: center;
    transition: border 0.2s;
    margin: 0px;
}

.navbar-button:hover{
    border-bottom: 2px solid white;
}

#welcome-icon{
    width: 30vmin;
    margin: 0 calc((100% - 30vmin)/2) 0 calc((100% - 30vmin)/2);
    padding: 5% 0;
    opacity: 0;
    animation: fade-in 0.5s 0.3s ease-in;
    animation-fill-mode: forwards;

}

.chat-icon{
    width: 12.5vmin;
    margin-left: 10%;
    vertical-align: top;

}

.textbox{
    width: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    display: inline-block;
    padding: 5%;
    line-height: 1.75em;
    padding-bottom: 10%;

}

#ai.textbox{
    border-radius: 0 20px 20px 20px;
    margin-left: 2%;
}

#user.textbox{
    border-radius: 20px 0px 20px 20px;
    margin: 0 20%;
}

.textbox h1, .textbox h2{
    text-align: center;
    text-shadow: none;
}

.textbox h1{
    font-size: max(3vmin, 28px);
}

.textbox h2{
    font-size: max(2.5vmin, 20px);
}

.textbox p, .textbox, .textbox li{
    font-size: max(2vmin, 14px);
}

.textbox td{
    font-size: max(1.5vmin, 10px);
    padding: 2%;
}

.textbox hr{
    margin: 3vmin;
}

.textbox table{
    width: 80%;
    justify-self: center;
}

.textbox td, .textbox th{
    border: 1px solid white;
    border-spacing: 0;
    border-collapse: collapse;
}

.textbox table{
    border: 1px solid white;
    border-spacing: 0;
    border-collapse: collapse;
}

.textbox th{
    font-size: max(1.75vmin, 12px);
}

.textbox br{
    display: none;
}

.chat-parent{
    width: 90%;
    margin: 5%;
    position: relative;
    margin-top: 5%;
}


.chat-parent:last-child {
    margin-bottom: 30vmin;
}

#settings-button{
    position: fixed;
    width: 7.5vmin;
    height: 7.5vmin;
    top: 5vmin;
    right: 7.5vmin;
}

#name-header{

    font-size: max(2vmin, 12px);
    text-shadow: none;
    width: 100%;
    margin: 0;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.25);

}

#tabs.post-config{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: max(2vh, 30px);
    padding-bottom: 5px;

    display: flex;
    flex-wrap: nowrap;

}


#tabs .tab-button{

    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-right: rgba(255, 255, 255, 0.2) 1px solid;
    font-family: monospace;
    font-size: 2vmin;
    width: 20%;

    color: rgba(255, 255, 255, 0.2);
    vertical-align: bottom;
    display: flex;
    align-items: center;

}

.tab-button p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    width: 85%;
    display: inline-block;
    margin: 0;
    margin-left: 3%;

}

#selected.tab-button{
    color: rgba(255, 255, 255, 0.4);

}

#tabs #add-button{
    color: rgba(255, 255, 255, 0.5);
    background-color: rgb(56, 182, 255);
    border: none;
    border-right: rgba(255, 255, 255, 0.2) 1px solid;
    width: 2vmin;
    vertical-align: bottom;
    width: auto;
}

#bottom.post-config{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(200px);
    -webkit-backdrop-filter: blur(200px);
    z-index: 2;
}

#bg{
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    z-index: 1000;
}

#prompt-box{

    width: 50%;
    height: 50%;
    top: 20%;
    left: 20%;
    border: solid white;
    border-radius: 5px;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.1);

    position: fixed;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    z-index: 1001;

}


.cancel{
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    font-family: monospace;
    font-size: 2vmin;
    width: 10%;
}

h3{
    font-size: 2vmin;
    text-align: center;
}

.warning{
    border: 2px solid white;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.9);
}

body::-webkit-scrollbar{
    display: none;
}

::-webkit-scrollbar{
  height: 5px;
}

::-webkit-scrollbar-track{
  background: rgba(0, 0, 0, 0);
}


::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  transition: color 2s linear;
}


::-webkit-scrollbar-thumb:hover{
  background: rgba(255, 255, 255, 0.2);
}

#initial-prompt{
    animation: pop 0.3s 0.8s;
    animation-fill-mode: backwards;
}

#link-input.main-page{
    animation: slide-in-left 0.5s 1.2s;
    animation-fill-mode: backwards;
}

#submit.main-page{
    animation: slide-in-right 0.5s 1.2s;
    animation-fill-mode: backwards;
}

#alert.inactive{
    display: none;
    opacity: 1;
}

#alert.active{

    background-color: rgba(0, 0, 0, 0.75);
    font-size: max(18px, 2vmin);
    position: fixed;
    z-index: 1005;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    align-items: center;
    font-family: "Lucida Console", Monaco, monospace;
    display: flex;
    text-align: center;
    justify-content: center



}

#alert.active{

    animation: fade-out 3s;
    animation-fill-mode: both;
    color: rgba(56, 182, 255, 0.75);
}

#loading.enabled{
    animation: text-pulse 3s infinite;
}

#loading.disabled{
    display: none;
}
#instructions.enabled{
    color: rgba(255, 255, 255, 0.3);
    font-family: "Lucida Console", Monaco, monospace;
    text-align: center;
    font-size: max(2vmin, 12px);

    margin: 0;
    margin-top: 0.75%;
}

#instructions.disabled{
    display: none;
}


